body {
    background: #ede4da;
    color: #1b1b1b;
    font-size: 14px;
    margin: 1.5em 100px 100px 6em;
}
header {
    font-family: monospace;
    margin: 0 0 3em 0;
}
header h1 a {
    font-size: 0.8em;
    text-decoration: none;
    color: #1b1b1b;
    margin: 0 0 0 2em;
}
header h1 a:first-child {
    font-size: 1em;
    margin: 0 0 0 0;
}
h1 .cursor {
    opacity: 0;
    animation: blinker 1s linear infinite;
    font-size: 0.9em;
    margin: 0 0 0 0.1em;
}
@keyframes blinker {from, 49.9% {opacity: 0;} 50%, to {opacity: 1;}}
article h2 {
    font-family: monospace;
}
article ul li {
    font-size: 1.2em;
    line-height: 2em;
}
article .date {
    color: #5c5c5c;
}
footer {
    font-family: monospace;
}
footer a {
    margin: 0 0.2em 0 0;
    float: right;
}
footer hr {
    border: none;
    border-top: 1px solid #1b1b1b;
}